<!DOCTYPE HTML>
<html>
	<head>
        <title>Docket</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<div th:replace="header"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Calendriers</h2>
						<p>Remplissez les informations çi-dessous et vous y êtes</p>
					</header>

					<!-- Intro -->
						<div class="row">
							<section class="5u 12u$(medium)">
								<h2>Votre équipe ?</h2>
                                <form method="post" action="#">
                                    <div class="row uniform">
                                        <div class="12u$">
                                            <div class="select-wrapper">
                                                <select name="team" id="team">
                                                    <option th:each="team : ${teams}"
                                                            th:value="${team.getCode()}"
                                                            th:text="${team.getName()}">T</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
							</section>
                            <section class="2u 12u$(medium)">&nbsp;</section>
							<section class="5u 12u$(medium)">
								<h2>Les événements ?</h2>
                                <form method="post" action="#">
                                    <div class="row uniform">
                                        <div class="6u 12u$(small)">
                                            <input type="checkbox" id="matchs" name="matchs" checked="true"/>
                                            <label for="matchs">Matchs</label>
                                        </div>
                                        <div class="6u$ 12u$(small)">
                                            <input type="checkbox" id="tournois" name="tournois" checked="true"/>
                                            <label for="tournois">Tournois</label>
                                        </div>
                                        <div class="6u 12u$(small)">
                                            <input type="checkbox" id="federaux" name="federaux"/>
                                            <label for="federaux">Fédéraux</label>
                                        </div>
                                        <div class="6u$ 12u$(small)">
                                            <input type="checkbox" id="reunions" name="reunions"/>
                                            <label for="reunions">Réunions</label>
                                        </div>
                                        <div class="6u 12u$(small)">
                                            <input type="checkbox" id="autres" name="autres"/>
                                            <label for="autres">Autres événements...</label>
                                        </div>
                                    </div>
                                </form>
							</section>
						</div>
                    <br/><br/><br/>
                    <div class="align-center">
                        <a href="calendars" class="button">Générez le lien</a>
                    </div>
                </div>
                </section>

		<!-- Footer -->
		<div th:replace="footer"/>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>