<!DOCTYPE HTML>
<html>
	<head>
        <title>Docket</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<div th:replace="header"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Ooooooops</h2>
						<p>J'ai un petit soucis.......</p>
					</header>

                    <div class="align-center">
                        <span th:text="${message}">Ici c'est le message d'erreur</span>
                    </div>
					<div class="align-center">
						<span>Merci de réessayer plus tard. Si le problème persiste il faudra me contacter ;-)</span>
					</div>
					<br/><br/><br/>
                    <div class="align-center">
                        <a href="index" class="button">Retour</a>
                    </div>
                </div>
                </section>

		<!-- Footer -->
		<div th:replace="footer"/>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>