<!DOCTYPE html>
<html>
<head>
</head>
<body>
<footer id="footer">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <header>
                    <h3>Pourquoi ?</h3>
                </header>
                <p class="footer-text">Pour rester organisé, ne plus se poser de question <br/>sur quel est l'horaire et
                    où se trouve le prochain match.<br/> Pour contribuer (un peu) au travail effectué<br/>par Laurent
                    depuis de nombreuses années.<br/>Par plaisir aussi...</p>
            </article>
            <article>
                <header>
                    <h3>Par qui ?</h3>
                </header>
                <p class="footer-text">Ce site a été développé par Eric<br/> du Volley Club de Vailhauquès. <br/>Vous
                    souhaitez dire merci, n'hésitez pas <br/>et faites nous le savoir sur la page <br/><a
                            class="footer-a" href="https://www.facebook.com/volleyvailhauques/">facebook du club</a>.
                </p>
            </article>
        </div>
    </div>
</footer>
</body>
</html>