<!DOCTYPE HTML>
<html>
	<head>
		<title>Docket by Eric Taix</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="index"><span class="icon fa-home"></span></a>
						<a href="features">Fonctionnalités</a>
						<a href="calendars">Calendriers</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Bienvenue sur Docket</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-circle-o"></span>
							<h3>Volleyeur</h3>
							<p>Vous êtes joueur à la FSGT 34</p>
						</div>

						<div>
							<span class="icon fa-rocket"></span>
							<h3>A fond</h3>
							<p>Vos activités s'enchainent</p>
						</div>

						<div>
							<span class="icon fa-calendar"></span>
							<h3>Organisé</h3>
							<p>Vous souhaitez être organisé</p>
						</div>

					</div>

					<footer>
						<a href="features" class="button">En savoir plus</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="images/team2.jpg" width="150px" height="150px" alt="Pic 01" />
							</div>
							<header>
								<h3>Faites votre<br /> choix</h3>
							</header>
							<p>Choisissez votre équipe et ce qui a de l'importance pour vous.<br/>Matchs, réunions, tournois, ... peu importe<br/>tout est à portée d'un clic avec Docket.</p>
							<footer>
								<a href="features" class="button">En savoir plus</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="images/calendar.jpg" width="150px" height="150px" alt="Pic 02" />
							</div>
							<header>
								<h3>Importez<br /> votre calendrier</h3>
							</header>
							<p>Un clic plus loin et votre planning est désormais disponible<br />dans Google agenda, iCal d'Apple ou Outlook :<br />vous n'oublierez jamais plus rien !</p>
							<footer>
								<a href="features" class="button">En savoir plus</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<div th:replace="footer"/>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>