<!DOCTYPE HTML>
<html>
	<head>
        <title>Docket</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<div th:replace="header"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Lien</h2>
						<p>Copiez le lien ci-dessous et collez le dans votre logiciel de calendrier</p>
					</header>

                    <div class="align-center">
                        <span>http://docket.mooo.com/VCV1.ics?type=MTFRA</span>
                    </div>
                    <div class="align-center">
                        <a href="index" class="button">Retour</a>
                    </div>
                </div>
                </section>

		<!-- Footer -->
		<div th:replace="footer"/>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>