<!DOCTYPE HTML>
<html>
	<head>
        <title>Docket</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<div th:replace="header"/>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Calendrier</h2>
						<p>Votre calendrier a été généré</p>
					</header>
                    <div class="align-center">
                        <p><span>Lien pour l'équipe "VCV/Les tatouilles" et les événements : matchs, réunion, fédéral</span></p>
                    </div>
                    <div class="align-center">
                        <span id="link" th:text="${link}" class="link">http://docket.mooo.com/VCV1.ics?type=MTFRA</span>
						<a href="#" class="icon fa-copy rounded-btn"></a>
						<a href="#" onclick="javascript:window.open(document.getElementById('link').textContent)" class="icon fa-download rounded-btn"></a>
                    </div>
					<br/><br/><br/>
                    <div class="align-center">
                        <a href="#" onclick="javascript:window.history.back()" class="button">Modifier</a>
                    </div>
                </div>
                </section>

		<!-- Footer -->
		<div th:replace="footer"/>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>